@model Journey.ViewModels.Credential
@{
    ViewData["Title"] = "Logination";
}
<div class="d-flex justify-content-center">
    <form method="post" style="min-width:300px;">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h1>Log in</h1>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input">
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

