@using Journey.Entities
@model Place
@{
    ViewData["Title"] = "Deleting";
}
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                @ViewData["Title"]
            </h2>
            <hr />
        </div>
        @if (ViewData["ErrorMessage"] != null)
        {
            <span class="text-danger">@ViewData["ErrorMessage"]</span>
        }
        <div class="mb-3">
            <label asp-for="PlaceName"></label>
            <input asp-for="PlaceName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="PlaceType!.TypeName"></label>
            <input asp-for="PlaceType!.TypeName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="City!.CityName"></label>
            <input asp-for="City!.CityName" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">
            Delete
        </button>
        <a asp-controller="LandLord" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
