@using Journey.Entities
@model ICollection<Place>
@{
    ViewData["Title"] = "LandLord page";
}
<h1>LandLord page</h1>
<h2>Places</h2>
<table class="table">
    <thead>
        <tr>
            <th>PlaceName</th>
            <td>PricePerNight</td>
            <td>Rank</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PlaceName</td>
                <td>@item.PricePerNight</td>
                <td>@item.Rank</td>
                <td><a asp-controller="LandLord" asp-action="Reservations" asp-route-id="@item.Id">Reservations</a></td>
            </tr>
        }
    </tbody>
</table>
