@using Journey.Entities
@model ICollection<Reservation>
@{
    ViewData["Title"] = "Tenant Page";
}
<h2>Reservatios</h2>
<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>ArrivalDate</th>
            <th>DepartureDate</th>
            <th>IsArrived</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Account.UserName</td>
                <td>@item.ArrivalDate</td>
                <td>@item.DepartureDate</td>
                <td>@item.IsArrived</td>
            </tr>
        }
    </tbody>
</table>