<div class="border border-1 rounded-3 d-flex flex-row bd-highlight mb-3 justify-content-center">
    <p class="w-50 p-3" style="text-align: center;">
        Company Journey.er founded in 2022 in Khmelnitsky, it has gone from a small idea to a perfectly implemented project both in terms of design and layout. The company's mission is to help everyone discover the world, as well as compete with a well - known service - booking.com in implementing web pages.
    </p>
</div>
