@using Journey.Entities
@model ICollection<Place>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Places</h1>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a asp-controller="Home"
           asp-action="Details"
           asp-route-id="@item.Id">@item.PlaceName</a>
        </li>
    }
</ul>


